@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: theme(colors.black);
  --background-rgb: theme(colors.white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: theme(colors.white);
    --background-rgb: theme(colors.neutral.900);
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}
